<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="root container-fluid bg-light d-felx justify-content-center align-items-center">
      <%- body %>
    </div>
  </body>
</html>