.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #73a9ad;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 1rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 1rem;
}

.expense-date__day {
  font-size: 1rem;
  font-weight: bold;
}

